.fish {
  width: 7.6rem;
  height: 12rem;
  background-color: rgb(242, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 8px;
  border-radius: 5px;
}
